body {
    background-color: rgb(251, 248, 231);
}

p {
    color: goldenrod;
    font-family: courier-prime, monospace;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
    padding-top: 80px;
}

.sign {
text-align: center;
width: 200px;
padding-bottom: 150px;
}

h1 {
    color: goldenrod;
    font-family: chantal;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.runner {
    width: 1000px;
    height: 500px;
    background: url(tablesmallplain.png);
    animation: run 4s steps(3) infinite;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
/* 
    position: absolute;

    z-index: 99;

    margin: 0 auto;

    left: 0;

    right: 0; */

    /* padding: 20px; */

    /* background: #f0e68c; */

    
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.marquee1 {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wishes {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-color: rgb(124, 150, 198)
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes run {
    100% { background-position: -3000px; }
    }